@import forms.MessageInputForm
@(messageInputForm: Form[MessageInputForm])



@main("Home") {
<h1>Welcome to the Frontend!</h1>

@* Global errors are not tied to any particular form field *@
@if(messageInputForm.hasGlobalErrors) {
@messageInputForm.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
<div>
    @error.key: @error.message
</div>
}
}


@helper.form(action = routes.MessageController.submitMessage) {
<p>Enter your text: </p>
<input type="text" id="@{messageInputForm("message").id}" name="@{messageInputForm("message").label}">
<button type="submit">Test</button>
}

}